.img_container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
}
div#zoom>img {
    width: 100%;
    height: auto;
}

.cat-btn {
    opacity: 1 !important;
}

.category_product_image {
    width: 120px;
    height: 120px;
    transition-duration: 0.2s;
    box-shadow: 1px 10px 20px 0 rgba(22, 22, 26, 0.18) !important;
}

.category-btn:hover .category_product_image {
    box-shadow: 1px 10px 20px 0 rgba(22, 22, 26, 0.18) !important;
    transform: scale(1.1);
}

.category-btn:hover .category-txt {
    transform: scale(1.1);
}
/* btn-outline-dark text-dark link-warning
.product-size-btn {
    background-color: transparent;
    color:rgba(22, 22, 26, 0.18)
}

.product-size-btn:hover {
    background-color: black;
    color:goldenrod
}

.product-size-btn .active {
    background-color: black;
    color:goldenrod
} */
@media (min-width: 576px) {
    .category_product_image {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .category_product_image {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 992px) {
    .category_product_image {
        width: 160px;
        height: 160px;
    }
}
