.custom-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
}

/* #tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
} */
/* .file-upload-content {
    display: none;
    text-align: center;
} */


#deleteButton {
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

#editButton {
    background-color: bisque;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}