.top-header-text{
    font-size: 0.875rem !important;
    overflow-y: scroll;
}

.menu-item-text li {
    display: inline !important;
}

/* .nav_home_link {
    color: '#fff3cd' !important;
}
.show .nav_home_link {
    color: '#fff3cd' !important;
}
.offcanvas .nav_home_link {
    color: 'black' !important;
} */


/* .nav-item a {
    display: block !important;
} */
/* .menu-item-text {
    font-size: 0.875rem !important;
} */
/* .nav-link {
    font-size: 0.875rem !important;
} */
/* .dropdown {
    z-index:10000 !important;
} */
.header-dropdown-item {
    max-width: 100%;
    font-size: 14px;
    /* display: flex;
    justify-content: left;
    align-items: center; */
    /* overflow: hidden;
    text-overflow: ellipsis; */
}
.nav .nav-link {
    text-decoration: none;
    color: black;
    /* color: #fff3cd; */
}
.nav-item .active {
    font-weight: 600;
}
.nav-link-active {
    color:rgb(230, 190, 15);
}
.navbar-bg {
    /* background-image: linear-gradient(0deg, rgb(33, 40, 44), rgb(23, 28, 31)); */
    background-color: rgb(30, 37, 41);
    /* opacity: 0.4; */
    /* background-image: url("http://localhost:3003/assets/images/logo-background.jpg"); */
}
/* .navcat-link {
    font-size: 14px !important;
} */
.navcat-link .nav-link {
    width: 100%;
    padding-right: 14px;;
}
.navcat-link .active {
    font-weight: 600;
}
.nav-logo-img {
    height: 36px;
}
    /* width: 340px;
    /* opacity: 1; */
    /* padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;; */
    /* background-image: url("http://localhost:3003/assets/images/logo-background.jpg"); */
  /* } */
  
 @media (min-width: 576px) {
    .nav-logo-img {
        height: 64px;
    }
        /* width: 340px;
    height:66px; */
  }

  @media (min-width: 768px) {
    .nav-logo-img {
        /* width: 100%; */
        height:92px;
      }
  }
  /*
  @media (min-width: 992px) {
    .card-img-top {
        height: 240px;
    }
  } */