* {
  margin: 0px;
  padding: 0px;
}

/* .App {
   text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* .btn {
  opacity: 0.8;
}

.btn:hover,
.btn:focus {
  opacity: 1;
} */

.card-img-top {
  width: 75%;
  height: 240px;
  opacity: 1;
  object-fit: cover;
  image-rendering: auto;
  transition-duration: 0.2s;
}

@media (min-width: 392px) {
  .card-img-top {
    /* width: 240px; */
    height: 240px;
  }
}

@media (min-width: 480px) {
  .card-img-top {
    /* width: 240px; */
    height: 240px;
  }
}

@media (min-width: 576px) {
  .card-img-top {
    /* width: 240px; */
    height: 200px;
  }
  /* .product-item .product img {
    height: 180px;
  }
  .product-item .product {
    width: 100%;
    height: 220px;
  } */
}

/* @media (min-width: 768px) {
  .card-img-top {
      height: 160px;
  }
}
@media (min-width: 992px) {
  .card-img-top {
      height: 160px;
  }
}
@media (min-width: 1200px) {
  .card-img-top {
      height: 200px;
  }
} */
@media (min-width: 768px) {
  .card-img-top {
    /* width: 200px; */
    /* height: 320px; */
    height: 280px;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    /* width: 200px; */
    /* height: 340px; */
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    /* width: 200px; */
    /* height: 380px; */
    height: 360px;
  }
}

/* .nav-logo-img {
  width: 180px;
  height: 36px !important;
} */

/* Product items */
.product-item {
  /* min-height: 450px; */
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
.product-item-two {
  /* min-height: 450px; */
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.product-item .product {
  width: 100%;
  height: 240px;
  overflow: hidden;
  cursor: pointer;
}
.product-item-two .product-two {
  width: 100%;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}

.product-item .product img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.product-item_two .product-two img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.product-item .product .icons .icon {
  width: 40px;
  height: 40px;
  bottom: -40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  z-index: -1;
  /* visibility: hidden; */
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.product-item-two .product-two .icons .icon {
  width: 40px;
  height: 40px;
  bottom: -40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  z-index: -1;
  /* visibility: hidden; */
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.product-item .product .icons .icon:hover {
  /* background-color: #b71c1c;
  color: #fff; */
  background-color: black;
  color: goldenrod;
}

.product-item .product .icons .active {
  /* background-color: #b71c1c;
  color: #fff; */
  background-color: black;
  color: goldenrod;
}

.product-item-two .product-two .icons .icon:hover {
  /* background-color: #b71c1c;
  color: #fff; */
  background-color: black;
  color: goldenrod;
}

.product-item .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.product-item-two .product-two .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.product-item .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.product-item-two .product-two .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.product-item .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.product-item-two .product-two .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.product-item:hover .product .icons .icon {
  /* visibility: visible; */
  z-index: 0;
  transform: translateY(-60px);
}

.product-item-two:hover .product-two .icons .icon {
  /* visibility: visible; */
  z-index: 0;
  transform: translateY(-60px);
}

/* .nav-logo-img {
  width: 120px !important;
  height: 24px !important;
} */
@media (max-width: 576px) {
  /* .nav-logo-img {
    width: 120px !important;
    height: 36px !important;
  } */
  .product-item .product {
    height: 240px;
  }
  .product-item .product img {
    height: 240px;
  }
  .product-item-two .product-two {
    height: 160px;
  }
  .product-item-two .product-two img {
    width: 100%;
    height: 160px;
  }
}

@media (min-width: 576px) {
  /* .nav-logo-img {
    width: 120px !important;
    height: 36px !important;
  } */
  .product-item .product {
    height: 240px;
  }
  .product-item .product img {
    height: 240px;
  }
  .product-item-two .product-two {
    height: 160px;
  }
  .product-item-two .product-two img {
    width: 100%;
    height: 160px;
  }
}

@media (min-width: 768px) {
  /* .nav-logo-img {
    width: 330px !important;
    height: 66px !important;
  } */
  .product-item .product {
    height: 380px;
  }
  .product-item .product img {
    height: 380px;
  }
  .product-item-two .product-two {
    height: 280px;
  }
  .product-item-two .product-two img {
    width: 100%;
    height: 280px;
  }
}

@media (min-width: 992px) {
  /* .nav-logo-img {
    width: 330px !important;
    height: 66px !important;
  } */
  .product-item .product {
    height: 380px;
  }
  .product-item .product img {
    height: 380px;
  }
  .product-item-two .product-two {
    height: 280px;
  }
  .product-item-two .product-two img {
    width: 100%;
    height: 280px;
  }
}
/* @media (min-width: 992px) { */
  /* .nav-logo-img {
    width: 330px !important;
    height: 66px !important;
  } */
  /* .product-item .product {
    height: 380px;
  }
  .product-item .product img {
    height: 380px;
  }
  .product-item-two .product-two {
    height: 280px;
  }
  .product-item-two .product-two img {
    width: 100%;
    height: 280px;
  }
} */