.carousel-inner {
  /* padding: 1em; */
}
.card {
  margin: 0 0.6em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
/* .carousel_control {
  transform: translateY(-1100%);
} */
.carousel-control-prev,
.carousel-control-next {
  background-color: #010100;
  position: absolute;
  opacity: 1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  /* top: 50%; */
  transform: translateY(-110%);
}
.carousel-control-prev {
 /* transform: translateX(3200%); */
 position: relative;
 float: right;
 transform: translateY(-110%);
}
.carousel_btn:hover .arrow_right {
  padding-left: 4px;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(0, 0, 4);
  color:antiquewhite;
} */
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    /* flex: 0 0 33.333333%; */
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
}
.img-wrapper {
    max-width: 100%;
    max-height: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .img-wrapper {
    max-height: 50%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 36em;
  }
}